body {
  <body background="https://www.photohdx.com/images/2016/03/fabric-texture-blue-background.jpg">;
}

h1 {
color: red;
}

p {
  color:blue;
  }
  
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h2 {
color: green;
}

