body {
    background-image: url("http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_06_hd_pictures_169782.jpg");
}

h1 {
color: red;
}

p {
  color:blue;
  }
  
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h2 {
color: green;
}

